<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Data Binding with Angular</h1>
    <hr class="my-4">
    <h4 class="display-6">String Interpolation</h4>
    <br>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-title">Student Details</h6>
        <hr>
        <h6 class="card-subtitle mb-2">Student ID : {{ studentId  }}</h6>
        <h6 class="card-subtitle mb-2">Student Name : {{ getStudentName()  }}</h6>
      </div>
    </div>
  </div>
</div>



